{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/index.css",
  "tailwindFunctions": ["clsx", "cn"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
